<launch>

  <node name="dead_reck" pkg="training_final_competition" type="dead_reckoning_script_torta.py" output="screen" />
  <node name="cmd_vel_listener" pkg="training_final_competition" type="kin_torta.py" output="screen" />

  <node name="stereo_camera" pkg="training_final_competition" type="stereo_camera_driver.py" output="screen" />

  <node name="rosserial_arduino_node" pkg="rosserial_arduino" type="serial_node.py" output="screen">
    <param name="port" value="/dev/ttyACM1"/>
    <param name="name" value="imu"/>
  </node>
  <node name="rosserial_arduino" pkg="rosserial_arduino" type="serial_node.py" output="screen">
    <param name="port" value="/dev/ttyACM0"/>
    <param name="name" value="control"/>
  </node>

</launch>